@import '../../../styles/Variables.scss';
@import '../../../styles/style.scss';

.messageContent-right{
    display: flex;
    position: relative;
    right: 0;
    justify-content: end;
    margin-top: 4px;
    transition: all 0.1s;
    
}
.messageContent-left{
    display: flex;
    position: relative;
    left: 0;
    margin-top: 4px;
    transition: all 0.1s;
}
.checkMessInput{
    appearance: none;
    position: absolute;
}
.customCheckMess{

    opacity: 0;
    transition: all 0.1s;
}
.checkMessInput:checked + .messageContent-main{
    background-color: #0000006c;
}
.checkMessInput:checked + .messageContent-main .customCheckMess{
    opacity: 1;
}
@media(hover:hover){

    .messageContent-right:hover .customCheckMess{
    
        opacity: 1;
    }
    .messageContent-left:hover .customCheckMess{

        opacity: 1;
    }
    .messageContent-main:hover {
        background-color: #00000057;
    }
}
.messageContent-left .customCheckMess{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
.messageContent-right .customCheckMess{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.messageContent-main .block_mess{
    display: flex;
    position: relative;
    flex-direction: column;
    background: linear-gradient(335.98deg, #001392FF -27.09%,#011386FF -27.09%,#011D94FF -19.16%,#006FFFFF 22.32%,#0054D1FF 58.52%,#004BC2FF 108.63%,#000C57FF 246.21%,#001A83FF 246.21%);
    border-radius: 10px;
    max-width: 70%;
    color: $color-white;
    overflow: hidden;
    padding:  0 36px 0 8px;
    user-select:text;
    margin-bottom: 4px;

}

.messageContent-right .block_mess{
    margin-right: 4px;
}

.messageContent-left img, 
.messageContent-right img{
    max-width: 100%;
    max-height: 500px;
}
.messageContent-right p{
    padding: 0 15px 0 0;
    word-wrap: break-word;
    text-align: right;

    width: 100%;

}
.messageContent-left p{
    padding: 0 15px 0 0;
    word-wrap: break-word;

    width: 100%;
}
.messageContent-right .messageInfo{
    position: absolute;
    right:  5px;
    bottom: 5px;
    display: flex;
    gap: 10px;
    user-select: none;
}
.messageContent-left .messageInfo{
    position: absolute;
    display: flex;
    gap: 10px;
    right: 5px;
    bottom: 5px;
    user-select: none;
}

.messageInfo span{
    font-size: 12px;
    color:$color-white-grey;
}

.soobsheniya{
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;

    overflow-y: scroll;
}
@media (max-height: 800px ){
    .soobsheniya{
        height: 75vh;
    }
}
@media (max-height: 650px ){
    .soobsheniya{
        height: 70vh;
    }
}
@media (max-height: 530px ){
    .soobsheniya{
        height: 65vh;
    }
}
@media (max-width: 800px ){
    .soobsheniya{
        height: 70vh;
    }
}
@media (max-width: 800px) and (max-height: 740px){
    .soobsheniya{
        height: 68vh;
    }
}
@media (max-width: 800px) and (max-height: 690px){
    .soobsheniya{
        height: 65vh;
    }
}
@media (max-width: 800px) and (max-height: 630px){
    .soobsheniya{
        height: 62vh;
    }
}
@media (max-width: 800px) and (max-height: 580px){
    .soobsheniya{
        height: 60vh;
    }
}
@media (max-width: 800px) and (max-height: 550px){
    .soobsheniya{
        height: 57vh;
    }
}
@media (max-width: 800px) and (max-height: 510px){
    .soobsheniya{
        height: 53vh;
    }
}
.soobsheniya::-webkit-scrollbar {
    width: 5px; /* Ширина */
    margin-left: 4px;
}

/* Ползунок */
.soobsheniya::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет */
    border-radius: 5px; /* Закругление углов */
}

/* Полоса прокрутки */
.soobsheniya::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет */
}


.edit__message__pen{
    path{
        fill:$color-white;
    }
}