.messageContent-right{
    display: flex;
    position: relative;
    right: 0;
    justify-content: end;
    margin-top: 4px;

}
.messageContent-right .block_mess{
    display: flex;
    position: relative;
        flex-direction: column;
    background-color: aqua;
    border-radius: 16px;
    max-width: 70%;
    padding:  0 36px 0 15px;

}
.messageContent-left .block_mess{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: aqua;
    border-radius: 16px;
    max-width: 70%;
    padding:  0 36px 0 15px;
}
.messageContent-left img, .messageContent-right img{
    max-width: 100%;

}
.messageContent-right p{
    padding: 0 15px 0 0;
    word-wrap: break-word;
    text-align: right;
    width: 100%;

}
.messageContent-left{
    display: flex;
    position: relative;
    left: 0;
    margin-top: 4px;
}
.messageContent-left p{
    padding: 0 15px 0 0;
    word-wrap: break-word;

    width: 100%;
}
.messageContent-right .messageInfo{
    position: absolute;
    right:  5px;
    bottom: 5px;
    user-select: none;
}
.messageContent-left .messageInfo{
    position: absolute;
    right: 5px;
    bottom: 5px;
    user-select: none;
}
.messageInfo span{
    font-size: 12px;
}

.soobsheniya{
    height: 84vh;
    overflow-y: auto;
}