// @import '../message/messages.scss';
@import '../../../styles/Variables.scss';

//loader max ========================================================================================
.container {
    position: absolute;
    top: 45%;
    left: 48%;
  }
  
  .square {
    width: 8px;
    height: 30px;
    background: rgb(71, 195, 248);
    border-radius: 10px;
    display: block;
    /*margin:10px;*/
    -webkit-animation: turn 2.5s ease infinite;
    animation: turn 2.5s ease infinite;
    box-shadow: rgb(71, 195, 248) 0px 1px 15px 0px;
  }
  
  .top {
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .bottom {
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  
  .left {
    position: absolute;
    left: 40%;
    top: 50%;
  }
  
  .right {
    position: absolute;
    left: 40%;
    top: 50%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  
  @-webkit-keyframes turn {
    0% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  
    50% {
      transform: translateX(400%) translateY(100%) rotate(90deg);
    }
  
    100% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  }
  
  @keyframes turn {
    0% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  
    70% {
      transform: translateX(400%) translateY(100%) rotate(90deg);
    }
  
    100% {
      transform: translateX(0) translateY(0) rotate(0);
    }
  }
  //loader mini
  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    border-radius: 50%;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 56px;
    height: 56px;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  //loader users ============================================
  .loader_users {
    position: relative;
    width: 95%;
    height: 60px;
    margin-bottom: 12px;
    padding: 15px 0;
    border-radius: 2px;
    background-color: #e3e3e3;
    overflow: hidden;
  }
  
  .loader_users:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  
  .loader_users .wrapper {
    padding:  0 12px;
    width: auto;
    height: 100%;
    position: relative;
  }
  
  .loader_users .wrapper > div {
    background-color: #cacaca;
  }
  
  .loader_users .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  
  .loader_users .line-1 {
    position: absolute;
    top: 11px;
    padding: 8px;
    left: 100px;
    height: 10px;
    width: 100px;
  }
  
  .loader_users .line-2 {
    position: absolute;
    top: 11px;
    right: 10%;
    
    padding: 8px;
    height: 10px;
    width: calc(100px + 5vw);
  }
  
  
  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }

  //loaderChat -- right column=================================================


  .ChatsIcon.loading{
    position: relative;
    background-color: #e3e3e3;
    overflow: hidden;
    cursor: default;
  }
  .ChatsIcon.loading:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  .ChatsIcon.loading .wrapper {
    padding:  0 12px;
    width: auto;
    height: 100%;
    position: relative;
  }
  
  .ChatsIcon.loading .wrapper > div {
    background-color: #cacaca;
  }
  .ChatsIcon.loading .line{
    width:200px;
    height: 30px;

  }

  //info user in chat loader ======================================
  .chatInfo.loading{
    margin-top: 8px;
    display: flex;
    background-color: $background-main-color;
    height: 50px;
    border-radius: 5px;
    color: $color-white;
    position: relative;
    z-index: 3;
    align-items: center;
    justify-content: start;
    overflow: hidden;
  }
  .chatInfo.loading:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  
  .chatInfo.loading .wrapper {
    padding:  0 12px;
    width: auto;
    height: 100%;
    position: relative;
  }
  
  .chatInfo.loading .wrapper > div {
    background-color: #cacaca;
  }
  
  .chatInfo.loading .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  
  .chatInfo.loading .line {
    position: absolute;
    top: 11px;
    padding: 8px;
    left: 100px;
    height: 10px;
    width: 100px;
  }
  


  // message word loader -- chat========================================
  .messageContent-right .block_mess.loading1,
.messageContent-left .block_mess.loading1,
.messageContent-right .block_mess.loading2,
.messageContent-left .block_mess.loading2{
    display: flex;
    position: relative;
    flex-direction: column;
    background: #e3e3e3;
    border-radius: 10px;
    max-width: 70%;
    color: $color-white;
    overflow: hidden;
    padding: 4px 4px;

}
// 1 mess ============================================

  .block_mess.loading1{
    background: #e3e3e3;
    overflow: hidden;
  }
  .block_mess.loading1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  .block_mess.loading1 .wrapper{
    padding:  0 12px;
    background: none;
    width: auto;
    height: 100%;
    position: relative;
  }
  .block_mess.loading1 .wrapper > div{
    background-color: #cacaca;
  }
  .messageContent-left .block_mess.loading1 .line{
    width: calc(100px + 2vw);
    height: 50px;
    border-radius: 4px;

  }
  
//2 mess ========================================================================================
.block_mess.loading1{
  background: #e3e3e3;
  overflow: hidden;
}

.messageContent-right .block_mess.loading1 .line{
  width: calc(200px + 10vw );
  height: calc(100px + 3vh);
  border-radius: 4px;

}

//3 mess ========================================================================================
.block_mess.loading2{
  background: #e3e3e3;
  overflow: hidden;
}
.block_mess.loading2::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}
.block_mess.loading2 .wrapper{
  padding:  0 12px;
  background: none;
  width: auto;
  height: 100%;
  position: relative;
}
.block_mess.loading2 .wrapper > div{
  background-color: #cacaca;
}
.messageContent-left .block_mess.loading2 .line{
  width: calc(50px + 1vw);
  height: 50px;
  border-radius: 4px;

}

// 4 mess ========================================================================================
.block_mess.loading2{
  background: #e3e3e3;
  overflow: hidden;
}

.messageContent-right .block_mess.loading2 .line{
  width: calc(150px + 3vw);
  height: 70px;
  border-radius: 4px;

}