@import './Variables.scss';
@import './style.scss';



.chat{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    height: auto;
}
.chat_section{
    width: 50vw;
    user-select: none;
    position: relative;
}

.rightColumn{
  width: 270px;
  margin: 8px 0 0 24px;
}

.main__right__column{
  background-color: $background-main-color;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 8px 8px;
  border-radius: 8px;
}

.chatInfo{
  margin-top: 8px;
    display: flex;
    background-color: $background-main-color;
    height: 50px;
    border-radius: 5px;
    color: $color-white;
    align-items: center;
    justify-content: start;
}
.chatInfo .chatIcons img{
    border-radius: 50%;
    width: 36px;
    @include AvaMain;
    padding: 8px 8px;
}
.chatInfo.selected__message{
  justify-content: space-between;
  font-size: 20px;
  padding: 0 16px;
}
.ChatsOtherUserColumn{
    padding: 0;
    margin: 0;
    width: auto;
}

.band__ChatsIcon{
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ChatsIcon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  height: 30px;
  position: relative;
  margin-bottom: 8px;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
  color: $color-white;
  overflow: hidden;
  transition: all 0.2s;
}

.ChatsIcon:hover .delete__user__column{
  opacity: 1;
  transform: translate(0px);
}

.delete__user__column{
  position: absolute;
  right: 10px;
  opacity: 0;
  transform: translate(40px);
  transition: all 0.2s;
}
.delete__user__column:hover{
  path{
    stroke:$grey-color;
    transition: all 0.2s;
  }
}
.delete__user__column path{
  stroke-width:5;
  stroke:$color-dark-opacity;
  transition: all 0.2s;
}
.ChatsIcon:not(.loading):hover{
  background-color: $color-dark-grey;
}
.ChatsIcon.active{
  background-color: $color-dark-grey;
}
  .ChatsIcon img{
    width: 40px;
    @include AvaMain;
    height: 40px;
    border-radius: 50%;
  }
  .ChatsIcon span{
    overflow-wrap: break-word;
    display: inline-block;
    width: 190px;
    margin: 0 0 0 8px;
    font-size: 12px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 

  }
.delete__select__btn{
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #ff0202;
}
.delete__select__btn:hover{
  text-decoration: underline;
}
  .Close__select{
    color: $link-color;
    
  }
  .close__select__btn{
    font-size: 17px;
    color: #fff;
  }
  .trash__svg path{
    stroke: #fff;
    stroke-width:2px;
  }
  .Close__select:hover{
    text-decoration: underline;
  }
  @media (max-width: 800px ){
    .rightColumn{
      display: none;
    }
    .chat_section{
      width: 90vw;
    }
  }