.slide-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .slide-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
  
  .slide-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .slide-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }

  .close_arrow-enter {
    opacity: 0;
    transform: translateY(400px) ;
  
  }
  
  .close_arrow-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: all 500ms ease-in-out;
  }
  
  .close_arrow-exit {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .close_arrow-exit-active {
    opacity: 0;
    transform: translateY(400px);
    transition: all 500ms ease-in-out;
  }
  @media (max-width:800px ) {
    .close_arrow-enter {
      opacity: 0;
      transform: translateY(20vh) ;
    
    }
    
    .close_arrow-enter-active {
      opacity: 1;
      transform: translateY(0px);
      transition: all 500ms ease-in-out;
    }
    
    .close_arrow-exit {
      opacity: 1;
      transform: translateY(0px);
    }
    
    .close_arrow-exit-active {
      opacity: 0;
      transform: translateY(20vh);
      transition: all 500ms ease-in-out;
    }
  }