.slide-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .slide-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
  
  .slide-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .slide-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }

  .close_arrow-enter {

    transform: translateY(300px) ;
  
  }
  
  .close_arrow-enter-active {

    transform: translateY(0px);
    transition: all 500ms ease-in-out;
  }
  
  .close_arrow-exit {

    transform: translateY(0px);
  }
  
  .close_arrow-exit-active {

    transform: translateY(300px);
    transition: all 500ms ease-in-out;
  }