@import './Variables.scss';

.ChatsOtherUser {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    background-color: $messages-color-block;
    cursor: pointer;
    margin-top: 12px;
    color: white;
    padding:  8px 16px;
    border: none;
    transition: 0.1s;
    max-height: 80px;
    
}
.ChatsOtherUser h3 {
    margin-left: 16px;
}
.ChatsOtherUser p {
    color: $grey-color;
    right: 5%;
    display: flex;
    align-items: center;
    
}
.info__user_mess{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
    max-height: 70px;
}

@media ( max-width: 700px){
    .info__user_mess{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .ChatsOtherUser p {
        margin-left: 12px;
    }
}
.LastMessage{
    color: $color-white;
    display: inline-block;
    text-align: start;
    width: 100px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    margin-left: 8px;
}
.ChatsOtherUser img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @include AvaMain;
}

.overUsersList {
    padding: 0 0 12px 0;
    margin: 24px 0 24px 0;
    height: auto;
    width: 80vw;
    border-radius: 15px 15px 0 0;
    background-color:$messages-background;

}
@media (max-width: 800px){
    .overUsersList{
        width: 95vw;
        margin: 12px 0 48px 0;
    }
}

.overUsersList .chatUsersMain {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: calc(100% - 20px); 
    user-select: none;
}
@media (hover: hover){
    .ChatsOtherUser:hover{
        background-color: $messages-color-block-hovered;
        
    }
}
