@import './message.scss';
@import './Variables.scss';

:root[data-theme='light'] {
    --background-color: #ffffff;
    --text-color: #000;
    --border-color: #000;
    --background-main:#fff;
    --shadow-color: #141414;
    --menu-background:#314D5E;
  }
  
  :root[data-theme='dark'] {
    --background-color: #1F1F1F;
    --text-color: #d5d5d5;
    --background-main:#1a1a1a;
    --border-color: #ffffff;
    --shadow-color: #d5d5d5;
    --menu-background:#314D5E;
  }

  body{
    background-color: $background;
    color: $color;
    transition: all 0.2s;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    width: 3px; /* Ширина */
    margin-left: 4px;
}

/* Ползунок */
body::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет */
    border-radius: 5px; /* Закругление углов */
}

/* Полоса прокрутки */
body::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет */
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  margin: 0;
}
.rootBlock{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.modal__mini{
    width: 100vw;
    position: fixed;
    height: 100vh;
}
.user-list{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 50px);
    user-select: none;
    width: 20vw;
    background-color: $background-main-color;
    padding: 0 12px  20px 12px;
    z-index: 2;
    margin: 0;
    list-style-type: none;
    border-radius: 2px;
}
.user-item{
    background-color:$color-dark-grey;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px 0;
    margin: 8px 0 0 0;
    border: none;
    color: $color-white-grey;
    font-size: 12px;
    border-radius: 2px;
}
.user-item img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 4px;
}
.user-item .nameUsersSearch p{
    text-align: start;
    padding: 0;
    margin: 0 0 0 8px;
    width: 90%;
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
    font-size: 14px;
    text-overflow: ellipsis; 
}
.user-item .nameUsersSearch{
    display: flex;
    align-items: center;
    width: 100%;
}
.allSearchBtn{
    border: none;
    position: absolute;
    background: transparent;
    color: $link-color;
    right: 0;
    bottom: 0;
    
}
@media (hover:hover){
    
.allSearchBtn:hover{
    text-decoration: underline;
}
}
