$background: var(--background-color);
$color : var(--text-color);
$shadow: var(--shadow-color);
$link-color: #71aaeb;
$grey-color: #979696;
$color-white-grey:#cacaca;
$color-white: #fff;
$background-main-color: #282c34;
$color-dark-grey: #3f4349;