$background: var(--background-color);
$color : var(--text-color);
$shadow: var(--shadow-color);
$background-main: var(--background-main);
$link-color: #71aaeb;
$dark-link-color:rgb(6, 62, 151) ;
$grey-color: #979696;
$color-white-grey:#cacaca;
$color-white: #fff;
$background-main-color: #282c34;
$color-dark-grey: #3f4349;
$color-dark-opacity: rgba(102, 101, 101, 0.5);
$messages-background: #161616;
$messages-color-block:#2f2f3b ;
$messages-color-block-hovered:#2f2f3b8e ;
$loyaut-background: #282c34;
$menu-background: var(--menu-background);
$color-delete-link:#ff0000;
@mixin AvaMain {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }
@mixin ClearBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}