$background: var(--background-color);
$color : var(--text-color);
$shadow: var(--shadow-color);
$link-color: #71aaeb;
$dark-link-color:rgb(6, 62, 151) ;
$grey-color: #979696;
$color-white-grey:#cacaca;
$color-white: #fff;
$background-main-color: #282c34;
$color-dark-grey: #3f4349;
$messages-background: rgb(0, 18, 46);
$messages-color-block:rgb(1, 28, 72) ;
$messages-color-block-hovered:rgb(8, 42, 96) ;
$loyaut-background: #282c34;
$menu-background: var(--menu-background);