.scrollTop{
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #909090;
    position: fixed;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    bottom: 7%;
    scale: 1;
    right:3% ;

}
.scrollBottom{
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #909090;
    position: fixed;
    display: flex;
    padding: 6px 6px;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    scale: 1;
    z-index: 9;
    right:3% ;
}
@media (max-width:800px ) {
    .scrollTop{
        bottom: 20vh;
        right:1% ;
    }
    .scrollBottom{
        bottom:20vh;
    }
}