.inputSearch{
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 32px 8px 32px;
    width: 100%;
    z-index: 1;
}
.inputSend{
    display: flex;
    position: fixed;
    top: 100%;
    width: 100%;
    margin-top: 10px;

}
.inputSend input[type="text"]{
    width: 100%;
}
.inputSend .send {
    display: flex;
} 
.img_send{
    width: 30px;
}
.lupa{
    position: absolute;
    width: 30px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
}
.closebtn{

    position: absolute;
    width: 30px;
    right: 0;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    color: black;
}
.close-enter {
    opacity: 0;
    transform: translate(10px, -50%) rotate(45deg);
  }
  
  .close-enter-active {
    opacity: 1;
    transform: translate(0, -50%) rotate(45deg);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
  
  .close-exit {
    opacity: 1;
    transform: translate(0, -50%) rotate(45deg);
  }
  
  .close-exit-active {
    opacity: 0;
    transform: translate(10px , -50%) rotate(45deg);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }