@import '../../../styles/Variables.scss';
@import '../../../styles/style.scss';

.inputSearch{
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #393939;
    padding: 8px 32px 8px 32px;
    width: 100%;
    z-index: 1;
    color: $color-white-grey;
}
.inputSearch::-webkit-input-placeholder{
  color: $color-white-grey;
}
.inputSearch::-moz-placeholder{
  color: $color-white;
}
.inputSearch:-ms-input-placeholder{
  color: $color-white;
}
.inputSend{
    display: flex;
    position: fixed;
    bottom: 4px;
    z-index: 10;
    height: 35px;
    width: 50vw;
}
@media (max-width: 800px ){
  .inputSend{
    bottom: 64px;
    width: 90%;
  }
}
.inputSend input[type="text"]{
    width: 100%;
    outline: none;

    background-color: $background-main-color;
    padding: 0 8px;
    border-radius: 5px;
    border: none;
    color: $color-white;
}
.inputSend input[type="text"]::-webkit-input-placeholder{
  color: $color-white-grey;
}
.inputSend input[type="text"]::-moz-placeholder{
  color: $color-white-grey;
}
.inputSend input[type="text"]:-ms-input-placeholder{
  color: $color-white-grey;
}
.inputSend .send {
    display: flex;
    position: absolute;
    right: 4px;
} 
.img_send{
    width: 30px;
}
.lupa{
    position: absolute;
    width: 32px;
    height: 26px;
    padding: 2px ;
    cursor: pointer;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;

}
.lupa circle{
  stroke: $grey-color;
}
.lupa path{
  fill:$grey-color ;
}
.closebtn{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    padding: 2px;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%) ;
    
}
.closebtn path{
  stroke: $grey-color;

}
.close-enter {
    opacity: 0;
    transform: translate(10px, -50%) ;
  }
  
  .close-enter-active {
    opacity: 1;
    transform: translate(0, -50%) ;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
  
  .close-exit {
    opacity: 1;
    transform: translate(0, -50%) ;
  }
  
  .close-exit-active {
    opacity: 0;

    transform: translate(10px , -50%) ;
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }


  .search-enter {

    z-index: 2;
    opacity: 0;
  }
  
  .search-enter-active {
    z-index: 2;
    opacity: 1;
    transition: all 100ms ease-in-out;
  }
  
  .search-exit {
    z-index: 2;
    opacity: 0;
  }
  
  .search-exit-active {
    z-index: 2;
    opacity: 1;
    transition:all 100ms ease-in-out;
  }