@import '../../../styles/style.scss';
@import '../../../styles/Variables.scss';
.modal-overlay {
    position: fixed;
    top: 50%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: $background-main;
    padding: 20px;
    height: auto;
    border-radius: 8px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
    color: $color;
  }
  .btnProfileImg{
    width: 40px;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
  }
  .btnProfileImg img {
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    object-fit:cover;
    object-position: center;
    aspect-ratio: 1/1;
  }
  .arrow-profile{
    stroke: $grey-color;
    position: relative;


  }
  .arrow-profile-wrapper{
    position: absolute;
    bottom: -25%;
    right: -20%;
    
  }
  .arrow-profile-wrapper:not(.active){
    animation: Arrow__passive 0.2s ease-in-out;
  }
  .arrow-profile-wrapper.active {
    transform: rotateZ(180deg);
    animation: Arrow__active 0.2s ease-in-out;
}

@keyframes Arrow__active {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}
@keyframes Arrow__passive {
  0% {

      transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
  
.ProfileClose-enter {
  opacity: 0;
}

.ProfileClose-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.ProfileClose-exit {
  opacity: 1;
}

.ProfileClose-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}
  .modal-overlay-profile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  .profileButton{
    position: fixed;
    display:flex;
    flex-direction: column;
    right: 0.5%;
    width: 140px;
    top: 68px;
    user-select: none;
    list-style-type: none;
    align-items: start;
    border-radius: 8px;
    margin: 0;
    padding: 0 2px 0 2px;
    background-color: #353535;
  }

  .list_menu{
    width: 100%;
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom:1px  solid $color;
    color:$link-color;
  }
  .list_menu:last-child{
    border:none;
    padding-bottom: 0;
    margin-bottom: 8px;
  }
  @media (hover: hover) {
    .list_menu:hover{
      background-color: rgba(255, 255, 255, 0.08);
      transition: 0.2s;
    }
  }

  .confirm__btn{
    border: 1px solid black ;
    background: $background;
    color: $color;
    width: 100px;
    border-radius: 8px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }

  