@import '../../styles/Variables.scss';
@import '../../styles/style.scss';



.mini__logo{
    width: 40px;
}
.transition__input{
    width: 60%;
    position: relative;
    display: flex;
    justify-content: end;
}

.search__media{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color:#1a1a1a ;
    color: #1a1a1a;
    transition: all 0.3s; 
    outline: none;

}
.search__media:focus{
    width: 100%;
    padding: 0 0 0 8px;
    color: white;
    border-radius: 8px;
}

.open-menu-enter {
    opacity: 0;
    border-top-left-radius: 500px ;
    transform: translateX(70%) translateY(100%) scale(0);
  }
  
  .open-menu-enter-active {
    opacity: 1;
    border-top-left-radius: 0;
    transform: translateX(0) translateY(0) scale(1);
    transition: all 0.3s ease-in;
  }
  
  .open-menu-exit {
    opacity: 1;
    border-top-left-radius: 0 ;
    transform: translateX(0) translateY(0) scale(1);
  }
  
  .open-menu-exit-active {
    opacity: 1;
    border-top-left-radius: 500px;
    transform: translateX(70%) translateY(100%) scale(0);
    transition: all 0.3s ease-out;
  }


.menu{
    position: fixed;
    background-color: $menu-background;
    width: 100vw;
    height: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    bottom: 0;
    z-index: 11;
    color: $color-white-grey;
    scale:1;
    user-select: none;
}

.menu .profile__block{
    padding: 24px;
    position: relative;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%);
    background-color: rgba($color: #000000, $alpha: 0.4);
    width: 80%;
    height: 20vw;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu .profile__block img{
    width: 15vw;
    @include AvaMain;
    min-width: 50px;
    border-radius: 50%;
    position: absolute;
    left: calc(4px + 1vw);
    bottom: calc(4px + 5%);

}
.search__media:focus + .header__lupa{
    pointer-events:all;
    z-index: 10;
}
.header__lupa{
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 50%;
    pointer-events:none;
    transform: translate(0, -50%);
}
.header__lupa circle{
    stroke: $grey-color;
}
.header__lupa path{
    fill:$grey-color ;
}

.mess__icon.active path {
    stroke:$dark-link-color;
}
.mess__icon.active #last__path,
.mess__icon.active rect{
    fill: $dark-link-color;
}
.mess__icon:not(.active) path {
    stroke:$grey-color;
}
.mess__icon:not(.active) #last__path,
.mess__icon:not(.active) rect{
    fill: $grey-color;
}
.mess__icon{
    transition: all 0.5s ease-in-out;
}

.close__btn__menu {
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff0f0;
    border: none;
    background-color: transparent;
    border-radius: 50% ;
    user-select: none;
  }


.menu h4{
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-white-grey;
}
.menu .setting__profile{
    position: absolute;
    bottom: 6px;
    width: auto;
    display: inline;
    right: 5%;
    color: $link-color;
    font-size: calc(10px + 10%);
}

.media__menu__quit{
    position: absolute;
    bottom: 20%;
    right: 5%;
    width: auto;

}
.media__menu__theme{
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: auto;
}